<!-- <% if (item.cover_image){ %>
  <div class="col-12 mb-4">
    <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image %>" alt="<%- item.title || "Untitled" %>">
  </div>
<% } %> -->
<div class="col-12 pt-lg-3 mb-4 px-4 portfolio-content">
  <%- item.content %>
</div>

<% if (page.total > 1) { %>
<nav class="page-nav">
    <%- paginator({prev_text: '<', next_text: '>'}) %>
</nav>
<% } %>
