<div class="container-fluid">
  <div class="page-wrapper">
    <section class="section0"></section>
    <section class="section1">
      <div class="image-wrapper">
        <% site.categories.findOne({name: 'portfolio'}).posts.sort('date', -1).limit(5).each(function(post){ %>
        <div class="img" style="background-image: url('<%- post.cover_image%>')"></div>
        <% }) %>
      </div>
      <div class="indicator-wrapper">
        <div class="indicator">01</div>
        <div class="indicator">02</div>
        <div class="indicator">03</div>
        <div class="indicator">04</div>
        <div class="indicator">05</div>
      </div>
      <div class="strapline1">My name is Michelle Wu. </br>I'm a -</div>
      <div class="strapline2">Work since </br>2019 -</div>
        <div class="content-wrapper">
          <div class="content">
            <h1>Designer</h1>
            <a class="button" href="/portfolio">View Portfolio →</a>
        </div>
      </div>
    </section>
    <section class="section2">
      <% site.categories.findOne({name: 'blog'}).posts.sort('date', -1).limit(2).each(function(item){ %>
        <div class="hovereffect">
          <a href="<%- config.root %><%- item.path %>">
            <img class="img-fluid portfolio-img" src="<%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
            <div class="overlay">
              <span class="overlay-text"><%- item.title || theme.default_post_title || "Untitled" %></span>
            </div>
          </a>
        </div>
      <% }) %>
      <div class="strapline1">In my spare time, I decided to write a blog to record my life path -</div>
      <div class="strapline2">So,</br>I'm also a -</div>
      <div class="content-wrapper">
        <div class="content">
          <h1>Blogger</h1>
          <a class="button" href="/blog">View Blog →</a>
        </div>
      </div>
      <div class="featured">
        Recently</br>Added
        <svg class="line" height="10" width="210">
          <line x1="0" y1="0" x2="210" y2="0" style="stroke:rgb(0,0,0);stroke-width:5" />
        </svg>
      </div>
    </section>

    <section class="section3 col-md-10 col-12">
      <div class="strapline">
        I'm addicted to beautiful stuffs.</br>
        So I draw, to visualize my fantasy. So I write to record impressive memories.</br>
        So I photograph, to capture dazzling moments. So I travel, to see the splendid world.</br>
        If you have any cool ideas, ping me a message, let's talk!
      </div>
    </section>
  </div>
</div>
